@import "tailwindcss";

@layer utilities {
  .text-hero {
    @apply text-[25px] font-extrabold leading-[1] text-primary-secondary;
  }

  .text-title {
    @apply text-[20px] md:text-[28px] font-semibold leading-[1] text-primary-secondary;
  }

  .text-header {
    @apply md:text-[22px] text-[16px] font-semibold leading-[1];
  }

  .text-subheader {
    @apply md:text-[17px] text-[14px] font-semibold leading-[1];
  }

  .text-body {
    @apply text-[16px] font-normal leading-[1];
  }

  .text-hint {
    @apply text-[12px] font-normal leading-[1];
  }
}

@layer base {
  html {
    font-family: var(--font-inter), system-ui, sans-serif;
  }
}

@theme {
  --color-accent-border: #e6eff5;
  --color-primary-secondary: #343C6A;
  --color-placeholder: #8BA3CB;
  --color-background: #F5F7FA;
  --color-blue-accent: #718EBF;
}